header, nav, main, footer{
    padding: 20px;
    colore: #fff;
}

header{
    height: 100px;
    background-color: #C04E3F;
}
nav{
    height: 80px;
    background-color: #5C85D6;
}
main{
    height: 400px;
    display: flex;
}
.left-menu{
    background-color: #E8A1C1;
    width: 20%
}
section{
    background-color: #F4A04B;
    width: 60%
}
.right-menu{
    background-colore: #4BAE94
    width: 20%
}
footer{
    height: 200px;
    background-color: #A1B3D1;
}

