header {
    height: 100px;
    background-color: #C04E3F;
    color: #fff;
    padding: 20px;
}

nav {
    height: 80px;
    background-color: #5C85D6;
    color: #fff;
    padding: 20px;
}

main {
    height: 400px;
    display: flex;
}

.left-menu {
    width: 20%;
    background-color: #E8A1C1;
    color: #fff;
    padding: 20px;
}

section {
    width: 60%;
    background-color: #F4A04B;
    color: #fff;
    padding: 20px;
}

.right-menu {
    width: 20%;
    background-color: #4BAE94;
    color: #fff;
    padding: 20px;
}

footer {
    height: 60px;
    background-color: #4BAE94;
    color: #fff;
    padding: 20px;
}

