
header {
    height: 100px;
    background-color: #C04E3F;
    color: #fff;
    padding-top: 10px;
}

nav {
    height: 100px;
    background-color: #5C85D6;
    color: #fff;
    padding-top: 10px;
}

main {
    height: 600px;
    display: flex;
    justify-content: space-around;
}

aside {
    background-color: #EF598D;
     wigth: 30%
}

section {
    background-color: #FFDA63;
    wigh: 70%

footer {
    height: 200px;
    background-color: #A1B3D1;
    padding-top: 10px;
}
